$background: #ECF0F1;

$primary: #4CAF50;
$primary-darker: darken($primary, 10%);

$accent: #E91E63;
$accent-darker: darken($accent, 10%);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 24px;
  background-color: $background;
}

body,
html,
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .won{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: visibility 0.5s linear, opacity 0.5s linear;
    z-index: 999;

    p{
      background: $primary;
      line-height: 2em;
      color: #fff;
      font-size: 3em;
      flex: 1;
      text-align: center;
    }
  }

  ul.sliding-puzzle{
    width: 80vmin;
    height: 80vmin;
    display: grid;
    padding: 0.5em;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
                0 1px 1px 0 rgba(0,0,0,.14),
                0 1px 3px 0 rgba(0,0,0,.12);

    li{
      cursor: pointer;
      list-style: none;

      &.win {
        box-shadow: 1px 0 0 1px $primary,
              0 1px 0 1px $primary,
              1px 1px 0 1px $primary,
              1px 0 0 1px $primary inset,
              0 1px 0 1px $primary inset;
      }

      &.blank {
        visibility: hidden;
        cursor: default;
      }
    }
  }

  a{
    cursor: pointer;

    &:hover{
      transition: color 0.8s ease;
    }
  }

  .buttons {
    padding: 2em;
    .shuffle{
      color: $accent;

      &:hover{
        color: $accent-darker;
      }
    }

    .solve{
      color: $primary;

      &:hover{
        color: $primary-darker;
      }
    }
  }
}