:root {
  --color-background: #ecf0f1;

  --color-info: #2196f3;
  --color-info-darker: #1565c0;

  --color-primary: #4caf50;
  --color-darker: #2e7d32;

  --color-accent: #e91e63;
  --color-accent-darker: #ad1457;
}

* {
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--color-background);
}

body,
html,
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.win-message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  z-index: 999;
}

.win-message p {
  background: var(--color-primary);
  line-height: 2em;
  color: #fff;
  font-size: 3em;
  flex: 1;
  text-align: center;
}

ul.sliding-puzzle {
  width: 80vmin;
  height: 80vmin;
  display: grid;
  grid-gap: .5em;
  padding: 0;
}

ul.sliding-puzzle.win li{
  box-shadow: none;
}

li {
  cursor: pointer;
  list-style: none;
  background-repeat: no-repeat;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

li.blank {
  visibility: hidden;
  cursor: default;
}


a {
  cursor: pointer;
}

a:hover {
  transition: color 0.8s ease;
}

.buttons {
  padding: 2em;
}

.start {
  color: var(--color-info);
}

.start:hover {
  color: var(--color-info-darker);
}

.shuffle {
  color: var(--color-accent);
}

.shuffle:hover {
  color: var(--color-accent-darker);
}

.solve {
  color: var(--color-primary);
}

.solve:hover {
  color: var(--color-primary-darker);
}
