:root{
  --color-background: #ECF0F1;

  --color-info: #2196F3;
  --color-info-darker: #1565C0;

  --color-primary: #4CAF50;
  --color-darker: #2E7D32;

  --color-accent: #E91E63;
  --color-accent-darker: #AD1457;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 24px;
  background-color: var(--color-background);
}

body,
html,
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.won{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  z-index: 999;
}

.won p{
  background: var(--color-primary);
  line-height: 2em;
  color: #fff;
  font-size: 3em;
  flex: 1;
  text-align: center;
}

ul.sliding-puzzle{
  width: 80vmin;
  height: 80vmin;
  display: grid;
  padding: 0;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
              0 1px 1px 0 rgba(0,0,0,.14),
              0 1px 3px 0 rgba(0,0,0,.12);
}

li{
  cursor: pointer;
  list-style: none;
  background-repeat: no-repeat;
}

li.win {
  box-shadow: 1px 0 0 1px var(--color-primary),
        0 1px 0 1px var(--color-primary),
        1px 1px 0 1px var(--color-primary),
        1px 0 0 1px var(--color-primary) inset,
        0 1px 0 1px var(--color-primary) inset;
}

li.blank {
  visibility: hidden;
  cursor: default;
}

a{
  cursor: pointer;
}

a:hover{
  transition: color 0.8s ease;
}

.buttons {
  padding: 2em;
}

.start{
  color: var(--color-info);
}

.start:hover{
  color: var(--color-info-darker);
}

.shuffle{
  color: var(--color-accent);
}

.shuffle:hover{
  color: var(--color-accent-darker);
}

.solve{
  color: var(--color-primary);
}

.solve:hover{
  color: var(--color-primary-darker);
}